@import url(__logo/resources__logo.css);
@import url(__logo-zone/resources__logo-zone.css);

@import url(_padding/_bottom/resources_padding_bottom.css);
@import url(_padding/_top/resources_padding_top.css);


.resources {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
