@import url(__logo/resources__logo.css);
@import url(__logo-zone/resources__logo-zone.css);

@import url(_padding-bottom/resources_padding-bottom.css);
@import url(_padding-top/resources_padding-top.css);


.resources {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
