@import url(../table/table.css);
@import url(../table/__text/table__text.css);
@import url(../table/__cell/table__cell.css);
@import url(../table/__heading/table__heading.css);

@import url(_padding/_top/digits_padding_top.css);
@import url(_padding/_bottom/digits_padding_bottom.css);


.digits {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
