.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

.footer__column-link:last-child {
  padding-bottom: 0;
}
