@import url(../rotation/rotation.css);

@import url(../section-subtitle/_theme/section-subtitle_theme_dark.css);
@import url(../section-title/_theme/section-title_theme_dark.css);

@import url(../table/__cell/_theme/table__cell_theme_dark.css);

@import url(__triangle/kaufman__triangle.css);

@import url(_padding_pos_top/kaufman_padding_pos_top.css);
@import url(_padding_pos_bottom/kaufman_padding_pos_bottom.css);


.kaufman {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}
