section, div, ul, p, h1, h2, h3, img, li {
  border: red 2px solid ;
}

.main {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: normal;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
