.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  margin: 60px 0 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.footer__column-content-copyright {
  margin: 0;
  position: relative;
  flex-basis: 711px;
}

.logo_place_footer {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 183px;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  position: absolute;
  left: 0;
  bottom: 18px;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-content-info {
  text-decoration: none;
}

.footer__column-heading {
  margin: 0;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 0;
  padding: 0 0 16px;
  list-style: none;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-content-social {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}


.footer__social-icon {
  margin: 0;
  height: 16px;
  width: 16px;
}
